* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header{
    background-color: rgba(247, 159, 159, 0.9);
    height: 180px;
  
} */
header {
  width: 100%;
  background-color: #ffffffe5;
  height: 120px;
}
.all-divs span {
  color: #274c5b;
  font-family: "Roboto";
  font-size: 34px;
  font-weight: 700;
}
.all-divs .img-logo {
  width: 36.582px;
  height: 53.716px;
}
.all-divs .nav ul li a {
  text-decoration: none;
  color: #274c5b;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 700;
}
.all-divs .nav ul {
  list-style: none;
  display: flex;
  gap: 33px;
}

.all-divs .nav {
  margin-left: 90px;
}
.all-divs .nav .menu {
  display: none;
}
.all-divs {
  margin: auto;
  margin-left: 110px;
  margin-top: 70px;
  width: 86%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.all-divs .rectangle {
  background-color: rgb(151, 117, 54);
  width: 316px;
  height: 56px;
  border-radius: 36px;
  background: #fafafa;
  margin-left: 60px;
}
.all-divs .rectangle .search-icon {
  align-self: auto;
  margin-left: 263px;
  margin-top: 3px;
}
.all-divs .card {
  margin-right: 40px;
  width: 140px;
  height: 56px;
  border-radius: 33px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
}

.all-divs .icon-2 {
  width: 50px;
  height: 56px;
  margin: 6px 0 0 3px;
}
.all-divs .card span {
  color: #274c5b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
/* !section 1 start  */
.sect-1 {
  background: #e3f1e9;
  background-image: url(./Asserts/images/Image\ 2024-03-13\ at\ 19.41.44_5125f4c6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 710px;
}
.sect-1 span {
  color: #68a47f;
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  font-weight: 400;
}
.sect-1 .text-div1 h1 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
}
.sect-1 .text-div1 {
  width: 590px;
  height: 303px;
  padding-top: 150px;
  padding: 170px 0 0 200px;
}
.sect-1 .btn-1 button {
  padding: 16px 25px;
  background: #efd372;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;

  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  align-items: center;
  margin-top: 20px;
}
.sect-1 .icon-1 {
  margin-left: 6px;
  margin-top: 7px;
}

/* !section 2 start  */
.sect-2 {
  margin: auto;
  width: 70%;
  height: 600px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.sect-2 .div1-sect2 {
  width: 580px;
  height: 300px;
  background-image: url(./Asserts/images/Photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.sect-2 .div2-sect2 {
  width: 580px;
  height: 300px;
  background-image: url(./Asserts/images/Photo\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.sect-2 .text-div1 {
  width: 250px;
  margin: 80px 0 0 40px;
}
.sect-2 .text-div2 {
  width: 250px;
  margin: 80px 0 0 40px;
}
.sect-2 .text-div1 span {
  color: #fff;
  font-family: Yellowtail;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.sect-2 .text-div1 h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.sect-2 .text-div2 span {
  color: #7eb693;
  font-family: Yellowtail;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.sect-2 .text-div2 h2 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
/* !section 3 start */
.sect-3 {
  width: 100%;
  height: 850px;
  background-color: #f9f8f8;
  display: flex;
}
.sect-3 img {
  width: 710px;
  height: 700px;
  margin: 70px 0 0 70px;
}
.sect-3 .about-us {
  width: 580px;
  height: 700px;
  margin: 150px 0 0 0;
}
.sect-3 .about-us .img-1-of3 {
  width: 36px;
  height: 36px;
  margin: 18px 0px 0 22px;
  z-index: 10;
}
.sect-3 .about-us .img-2-of3 {
  width: 36px;
  height: 36px;
  margin: 18px 0px 0 22px;
  z-index: 10;
}
.sect-3 .about-us .organic-food {
  display: flex;
  margin-top: 25px;
  width: 450px;
  display: flex;
}
.sect-3 .about-us span {
  color: #7eb693;
  font-family: Yellowtail;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.sect-3 .about-us h1 {
  color: #274c5b;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  margin: 18px 0;
}
.sect-3 .about-us p {
  color: #525c60;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}
.sect-3 h4 {
  color: #274c5b;

  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}

.sect-3 .about-us .organic-food .img-div-3 {
  position: relative;
  width: 120px;
  height: 80px;
  border-radius: 20px;
  background: #fff;
  margin-right: 15px;
}
.sect-3 .about-us .organic-food p {
  color: #525c60;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.sect-3 .about-us .btn-3 button {
  padding: 18px 40px;
  background: #274c5b;
  color: #fff;
  font-size: 16px;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  align-items: center;
  margin-top: 20px;
}
.sect-3 .about-us .btn-3 {
  width: 400px;
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.sect-3 .icon-3 {
  margin-left: 6px;
  margin-top: 7px;
}
.sect-3 .circle-2 img {
  position: absolute;
  right: 47px;
  bottom: 27px;
}
.sect-3 .circle-img-2 {
  width: 20px;
  height: 20px;
  z-index: 2;
}
.sect-3 .about-us .organic-food .img-div-3 .img-2-of3 {
  position: relative;
}

.sect-3 .circle-1 img {
  position: absolute;
  right: 45px;
  bottom: 35px;
}
.sect-3 .circle-img-1 {
  width: 20px;
  height: 20px;
  z-index: 2;
}
.sect-3 .about-us .organic-food .img-div-3 .img-1-of3 {
  position: relative;
}
/* !section 4 start */
.sect-4 {
  width: 100%;
  height: 900px;
  margin-top: 140px;
  margin-bottom: 380px;
}

.sect-4 .shop .span1 {
  color: #7eb693;
  text-align: center;
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin: 500px 0 0 700px;
}
.sect-4 .shop .head-4 {
  margin-bottom: 20px;
}
.sect-4 .shop h1 {
  color: #274c5b;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 40px;
}
.sect-4 .shop .boxes-of-4 .box {
  width: 285px;
  height: 407px;
  border-radius: 30px;
  background: #f9f8f8;
  margin-left: 40px;
  stroke-width: 1px;
}
.sect-4 .shop .boxes-of-4 .small-box {
  padding: 30px 0 18px 25px;
}

.sect-4 .shop .boxes-of-4 .box span {
  padding: 4px 10px 5px 10px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  border-radius: 8px;
  background: #274c5b;
  justify-content: center;
}

.sect-4 .shop .boxes-of-4 .box h4 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  margin-left: 30px;
}
.sect-4 .shop .boxes-of-4 .line {
  stroke-width: 1px;
  stroke: #dedddd;
  height: 0px;
  align-items: center;
  margin-left: 18px;
}
.sect-4 .shop .boxes-of-4 .last-div-4 {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  gap: 0px;
}
.sect-4 .shop .boxes-of-4 .last-div-4 p {
  color: #b8b8b8;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}

.sect-4 .shop .boxes-of-4 .last-div-4 h4 {
  color: #274c5b;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  margin-left: 6px;
}
.sect-4 .shop .boxes-of-4 .last-div-4 .star {
  margin-left: 70px;
}
.sect-4 .shop .boxes-of-4 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 160px;
}
.sect-4 .shop .boxes-of-4 .box {
  width: 285px;
  height: 407px;
  border-radius: 30px;
  background-color: #f9f8f8;
  mix-blend-mode: multiply;
  margin-left: 18px;
  margin-top: 18px;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-41 {
  filter: brightness(96.98%);
  width: 280px;
  height: 260px;
  background-color: #f9f8f8;
  border-radius: 14%;
}

.sect-4 .shop .boxes-of-4 .box .img-0f-42 {
  filter: brightness(97%);
  width: 280px;
  height: 260px;
  border-radius: 14%;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-43 {
  filter: brightness(96.98%);
  width: 280px;
  height: 260px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-44 {
  filter: brightness(96.98%);
  width: 280px;
  height: 260px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-45 {
  filter: brightness(96.98%);
  width: 280px;
  height: 260px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-46 {
  filter: brightness(96.98%);
  width: 85%;
  height: 270px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-47 {
  filter: brightness(96.98%);
  width: 280px;
  height: 260px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-4 .shop .boxes-of-4 .box .img-0f-48 {
  filter: brightness(96.98%);
  width: 240px;
  height: 260px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-4 button {
  display: flex;
  width: 180px;
  padding: 15px 14px 13px 45px;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 11px;
  background: #274c5b;
  border: none;
  gap: 8px;
}
.sect-4 .btn-4 {
  display: flex;
  align-items: center;
  margin: 100px 0 0px 670px;
}
.sect-4 .btn-4 .icon-4 {
  margin-top: 10px;
}

/* section 5 start  */

.sect-5 {
  margin-top: 50px;
  width: 100%;
  height: 1000px;
  background-image: url(./Asserts/images/backg-5-2.png),
    url(./Asserts/images/backg-5.png);
  background-position: right, left;
  background-repeat: no-repeat, no-repeat;
}
.sect-5 .main-div-5 .span1 {
  text-align: center;
  color: #7eb693;
  font-family: "Yellowtail", cursive;
  font-size: 28px;
  font-weight: 400;
}
.sect-5 .main-div-5 h1 {
  color: #274c5b;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}
.sect-5 .main-div-5 .img-5 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.sect-5 .main-div-5 p {
  color: #525c60;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  margin: 17px 0;
}
.sect-5 .main-div-5 h3 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.sect-5 .main-div-5 .span2 {
  color: #525c60;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
}
.sect-5 .main-div-5 {
  width: 650px;
  margin-left: 450px;
  padding-top: 150px;
  /* margin: 00px 100px 100px 480px; */
  text-align: center;
}
.sect-5 .main-div-5 .navigation-5 {
  margin-top: 10px;
}
.sect-5 .line-img-5 {
  text-align: center;
  justify-self: center;
  margin: 70px 0 70px 320px;
}
.sect-5 img {
  text-align: left;
  width: 870px;
  height: 3px;
  justify-content: left;
  align-items: flex-start;
}
.sect-5 .circles {
  width: 900px;
  display: flex;
  margin-left: 340px;
}
.sect-5 .circle {
  position: relative;
  width: 100%;
}
.sect-5 .circle-h1 {
  position: absolute;
  margin-top: 58px;
  margin-left: 44px;
  color: #274c5b;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.sect-5 .circles span {
  position: absolute;
  text-align: center;
  margin-top: 100px;
  margin-left: 36px;
  text-align: center;
  justify-content: center;
  color: #274c5b;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}
.sect-5 .circles .circle-span {
  margin-left: 56px;
}
/* section 6 start */
.sect-6 {
  width: 100%;
  height: 800px;
  background-color: #274c5b;
}
.sect-6 span {
  color: #7eb693;
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.sect-6 h1 {
  color: #fff;

  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}
.sect-6 button {
  width: 215px;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #efd372;
  border: none;
}
.sect-6 .btn-6 {
  display: flex;
  align-items: center;
}
.sect-6 .section-6 {
  width: 70%;
  margin: auto;
  padding-top: 150px;
}
.sect-6 .content-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sect-6 .boxes-6 .box {
  width: 320px;
  height: 390px;
  border-radius: 30px;
  background: #f9f8f8;
}
.sect-6 .boxes-6 {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}
.sect-6 .boxes-6 .head-of-boxes-6 span {
  padding: 4px 10px 5px 10px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  border-radius: 8px;
  background: #274c5b;
  justify-content: center;
}

.sect-6 .boxes-6 .head-of-boxes-6 {
  padding: 30px 0 18px 18px;
}
.sect-6 .boxes-6 .img-box {
  filter: brightness(96.98%);
  width: 100%;
  height: 240px;
  background-color: #f9f8f8;
  border-radius: 14%;
}
.sect-6 .boxes-6 img {
  margin-top: 5px;
  padding-right: 8px;
}
.sect-6 .box h4 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  margin-left: 20px;
}
.sect-6 .line {
  stroke-width: 1px;
  stroke: #dedddd;
  height: 0px;
  align-items: center;
  margin-left: 16px;
}
.sect-6 .last-div-4 {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  gap: 0px;
}
.sect-6 .last-div-4 p {
  color: #b8b8b8;

  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}

.sect-6 .last-div-4 h4 {
  color: #274c5b;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
  margin-left: 0px;
}
.sect-6 .last-div-4 .star {
  margin-left: 50px;
}
.sect-6 .container-6 {
  width: 104%;
}
/* section 7 start */
.sect-7 {
  width: 100%;
  height: 730px;
}
.sect-7 .section-7-1 {
  width: 50%;
  height: 730px;
  background-image: url(./Asserts/images/section7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}
.sect-7 .eco-friendly {
  /* margin-top: 0; */
  background-color: #ffffff;
  width: 320px;
  height: 550px;
  border-radius: 18px;
  /* padding-top: 8px; */
  padding-top: 60px;
  margin-left: 630px;
  margin-top: 70px;
}
.sect-7 .eco-friendly .text-7 {
  margin-left: 90px;
}
.sect-7 .eco-friendly span {
  color: #7eb693;
  font-family: "Yellowtail", cursive;
  font-size: 30px;
  font-weight: 400;
}
.sect-7 .eco-friendly h1 {
  width: 360px;
  color: #274c5b;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.sect-7 .eco-friendly h4 {
  width: 400px;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin: 10px 0;
}
.sect-7 .eco-friendly p {
  width: 500px;
  color: #525c60;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
/* section 8 start */
.sect-8 {
  width: 100%;
  height: 820px;
  background: #f1f8f4;
}
.sect-8 .img-8 {
  width: 478px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* gap: 70px; */
  margin: 0;
}
.sect-8 .div-8-1 {
  display: inline-flex;
  padding: 150px 0 140px 0;
  width: 485px;
  height: 500px;
  justify-content: center;
  margin-top: 160px;
  margin-right: 30px;
  background-image: url(./Asserts/images/Photo\ 6.jpg);
}
.sect-8 .div-8-2 {
  display: inline-flex;
  padding: 150px 0 140px 0;
  width: 485px;
  height: 500px;
  justify-content: center;
  background-image: url(./Asserts/images/Photo\ 7.jpg);
  margin-right: 30px;
  margin-top: 160px;
  margin-bottom: 160px;
}
.sect-8 .div-8-3 {
  display: inline-flex;
  padding: 150px 0 140px 0;
  width: 480px;
  height: 500px;
  justify-content: center;

  margin-top: 160px;
  background-image: url(./Asserts/images/Photo\ 8.jpg);
}
.sect-8 .container-8 {
  display: flex;
  width: 100%;
  gap: 2px;
  /* margin-left: 20px; */
}

.sect-8 span {
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #274c5b;

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.sect-8 .text-div {
  margin-top: 85px;
  height: 80px;
  width: 250px;
  border-radius: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fafcfb;
}
/* section 9 start */
.sect-9 {
  width: 100%;
  height: 1150px;
  background: #fff;
}
.sect-9 span {
  color: #7eb693;
  font-family: "Yellowtail", cursive;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}
.sect-9 h1 {
  width: 600px;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 41px;
  font-weight: 700;
}
.sect-9 .container-9 .btn-9 button {
  display: flex;
  /* width: 200px; */
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 32px 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 2px solid #274c5b;
  background: #fff;
}

.sect-9 .container-9 .content-div-9 {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: end;
}

.sect-9 .container-9 {
  width: 75%;
  margin: auto;
  margin-top: 150px;
}

.sect-9 .container-9 .cards {
  display: flex;
  gap: 36px;
  margin: 35px 0 230px 0;
}
.sect-9 .container-9 h3 {
  position: absolute;
  left: 26px;
  top: 36px;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  padding-top: 11px;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #274c5b;
}

.sect-9 .container-9 .card-1 {
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  background-image: url(./Asserts/images/sect9-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sect-9 .container-9 .card-2 {
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  background-image: url(./Asserts/images/sect9-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sect-9 .container-9 .cards .info-card {
  margin-top: 210px;
  margin-left: 24px;
  width: 505px;
  height: 258px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.053);
}
.sect-9 .container-9 .cards .info-card .small-info {
  padding: 35px 0 40px 50px;
}
.sect-9 .container-9 .cards .info-card .small-info .auther {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sect-9 .container-9 .cards .info-card .small-info .auther span {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.sect-9 .container-9 .cards .info-card .small-info h1 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 700;
  margin: 8px 0 5px 0;
}
.sect-9 .container-9 .cards .info-card .small-info p {
  width: 400px;
  color: #525c60;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}
.sect-9 .container-9 .cards .info-card .small-info .btn-9-2 button {
  margin-top: 17px;
  display: flex;
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 20px 32px 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: none;
  background: #efd372;
}
.sect-9 .container-9 .cards .info-card .small-info .btn-9-2 button .icon-9 {
  padding-top: 7px;
}
/* / / / / / / / / / / / / / / / / / / / / / / / // /  /  */
/* second part 0f section 9 */
.sect-9 .container-9 .second-part-sec9 {
  width: 100%;
  height: 260px;
  background-image: url(./Asserts/images/2-0f-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.sect-9 .container-9 .second-part-sec9 h1 {
  width: 270px;
  /* padding: 0 50px 0 40px; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.sect-9 .container-9 .second-part-sec9 .container-1 input {
  padding: 26px 85px 26px 20px;
  border-radius: 15px;
  border: none;
}
.sect-9 .container-9 .second-part-sec9 .container-1 button {
  padding: 26px 52px;
  border-radius: 15px;
  border: none;
  background: #274c5b;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.sect-9 .container-1 {
  width: 90%;
  margin: auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sect-9 .container-1 form {
  display: flex;
  align-items: center;
  gap: 7px;
}
.sect-9 .container-1 form ::placeholder {
  color: #ababab;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
}
/* ||||||||||||||||||||||||||||||||||||| */
/* Footer start */
footer {
  width: 100%;
  height: 400px;
}
footer .container-end {
  width: 75%;
  margin: auto;
  display: flex;
  margin-bottom: 65px;
}
footer .left-div {
  width: 270px;
  height: 250px;
  text-align: right;
  margin-right: 50px;
}
footer .left-div h1 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
footer .left-div p {
  color: #525c60;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}
footer .left-div span {
  color: #525c60;
  text-align: right;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
}
footer .center-div {
  width: 500px;
  height: 250px;
  align-items: center;
}
footer .center-div .logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .center-div {
  padding: 0 35px;
}
footer .center-div p {
  color: #525c60;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}
footer .center-div h1 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
footer .center-div .icons {
  display: flex;
  gap: 13px;
  margin: 50px 0 0 90px;
}
footer .right-div {
  width: 270px;
  height: 250px;
  text-align: left;
}
footer .right-div h1 {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 50px;
}
footer .right-div ul {
  list-style: none;
}
footer .right-div ul li {
  color: #525c60;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  margin: 26px 0 0 50px;
}
footer .container-end img {
  height: 300px;
}
footer .last-part {
  width: 100%;
  height: 37px;
}
footer .last-part p {
  color: #525c60;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  align-items: center;
  margin-top: 10px;
}
footer .last-part span {
  color: #525c60;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 700;
}
footer .line-horizontal {
  width: 1412px;
}
