@media only screen and (max-width: 768px) {
header{
    width: 100%;

}
header .nav{
    display: none !important;
}
.all-divs .nav .menu{
    display: block !important;

  }
.all-divs{
    display: flex;

}
.sect-1{
    background-size: 100%;
}
.sect-2{
    display: block;
}
.sect-2 .text-div1{
    width: 100%;

}
}